
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/*beginning of css styling*/


html{
  background-color: hsl(30, 54%, 90%);
}

img{
  max-width: 700px; 
  max-height: 300px;
  border-radius: 8px;
  align-self: center;
}

h1,h2,h3{
  font-family: "Young Serif", serif;
  font-weight: 400;
}

strong, li{
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
}

.introduction1{
font-family: "Outfit", serif;
font-weight: 400;
color:hsl(30, 10%, 34%);
font-size: 1rem;
text-align: justify;
padding-bottom: 30px;
}

.paragraph1{
  background-color: hsl(330, 100%, 98%); 
  max-width: 630px;
  max-height:300px;
  padding:10px;
}

h2,h3{
color:hsl(332, 51%, 32%) ;
}

h3,li,strong{
  padding-left: 20px;
}

.paragraph2{
  padding-bottom:15px;
}
hr{
  color:hsl(30, 18%, 87%);
  width: 95%;
}

ol { 
  list-style: none; 
  counter-reset: num;
  padding: 0; 
  margin: 0;
} 

ol li { 
  counter-increment: num; 
} 

ol li::before { 
  content: counter(num) ". "; 
  color: hsl(332, 51%, 32%) ;
  font-weight: bold;
 }

 .step1,.step2,.step3,.step4,.step5,.step6{
  padding-bottom: 20px;
 }
 .step1{
  padding-top: 20px;
 }

p{
  font-family: "Outfit";
  color:hsl(30, 10%, 34%);
}

.calories,.carbs,.protein,.fat{
  color: hsl(332, 51%, 32%) ;
  font-weight: bold;
}

/*.containercalories,.containercarbs,.containerprotein,.containerfat {
 display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content:flex-start;
  gap: 250px;
  padding-left: 50px;
}*/
td{
  border: 1px white;
}

table {
  border-collapse: collapse;
}

.bordered {
  border-bottom: 1pt solid hsl(30, 18%, 87%);
}
main{
 max-width: 700px;
 max-height: 1800px;
 padding: 25px;
 margin:10px;
 border-radius: 15px;
 background-color: white;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
